@charset "UTF-8";
section {
         max-width: 1200px;
         padding: 0 0 30px 0;
          /* position: relative; */
         bottom: 170px;
         left: 600px;
     }
.flex-container { /* flex-direction와 flex-wrap의 단축 속성 */
	display: flex;
	/* row, row-reverse, column, column-reverse 
	nowrap wrap wrap-reverse */
	flex-flow: row nowrap;
	/* flex-start, flex-end, center, space-between, space-around */
	justify-content: space-around;
}
.item {
  display: flex;
}
.items {
  display: flex;
  flex: 1 1 20px;
 /* flex: 1 1 20px;  증가너비 감소너비 기본너비 */
 /* flex: 1 1;  증가너비 감소너비 */
 /* flex: 1 20px;  증가너비 기본너비 (단위를 사용하면 flex-basis가 적용됩니다) */
}
.login-menu ul li a{
	display: inline-flex;
}
/* 테이블 제목 */
section > h2 {
          margin: 20px;
          text-align: center;
      }
a {
	color: #333333;
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:hover {
	background-color: #BDBDBD;
	text-decoration: none;
}
/* 입력란 */
input[type=text], input[type=password]{
  padding: 12px;
  border: 2px solid #555555;
  border-radius: 4px;
  margin: 8px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
input:hover{
	opacity:1;
}
/* 버튼 한번에 정렬 */
.btngroup{
          text-align: center;
          margin-bottom: 20px;
      }
   /* submit 버튼 */
.btn1{
        padding: 5px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 25px 10px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: dodgerblue;
        color: white;
        border: 2px solid dodgerblue;
        border-radius: 5px;
        }

.btn1:hover {/*#2196F3*/
        border: 2px solid black;
        background-color: black;
        }
	/* 취소 버튼 */
        .btn2 {
        cursor: pointer;
        padding: 5px 22px;
        margin: 4px 2px;
        background-color: white;
        color: black;
        border: 2px solid #555555;
        border-radius: 5px;
        }
        .btn2:hover {
        background-color: #555555;
        color: white;
        }
  /* 여백이 적은 노란색 버튼 */
  .btn3 {
  	padding: 6px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 5px;
  }
  .btn3:hover {
   border: 2px solid #FEA500;
   background-color: #FEA500;
  }