<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AdminRecruit">

	<resultMap type="Recruit" id="RecruitResultMap">
		<id property="recruitNo" column="RECRUIT_NO" />
		<result property="recruitCompanyId" column="RECRUIT_COMPANY_ID" />
		<result property="recruitCompanyType"
			column="RECRUIT_COMPANY_TYPE" />
		<result property="recruitTitle" column="RECRUIT_TITLE" />
		<result property="recruitCareer" column="RECRUIT_CAREER" />
		<result property="recruitGender" column="RECRUIT_GENDER" />
		<result property="recruitStartAge" column="RECRUIT_START_AGE" />
		<result property="recruitEndAge" column="RECRUIT_END_AGE" />
		<result property="recruitEducation" column="RECRUIT_EDUCATION" />
		<result property="recruitPerson" column="RECRUIT_PERSON" />
		<result property="recruitMoney" column="RECRUIT_MONEY" />
		<result property="recruitPeriod" column="RECRUIT_PERIOD" />
		<result property="recruitDay" column="RECRUIT_DAY" />
		<result property="recruitTime" column="RECRUIT_TIME" />
		<result property="recruitAddress" column="RECRUIT_ADDRESS" />
		<result property="recruitContent" column="RECRUIT_CONTENT" />
		<result property="recruitPub" column="RECRUIT_PUB" />
		<result property="recruitPolice" column="RECRUIT_POLICE" />
		<result property="recruitJobType" column="RECRUIT_JOB_TYPE" />
		<result property="recruitJobDistrict"
			column="RECRUIT_JOB_DISTRICT" />
		<result property="recruitJobWho" column="RECRUIT_JOB_WHO" />
		<result property="recruitJobBranch" column="RECRUIT_JOB_BRANCH" />
		<result property="recruitDate" column="RECRUIT_DATE" />
		<result property="recruitReport" column="RECRUIT_REPORT" />

		<!-- <association property="districtMap" resultMap="District"></association> -->
	</resultMap>

	<select id="listReport" resultMap="RecruitResultMap">
		<![CDATA[select * 
		from COMPANY_RECRUIT WHERE RECRUIT_POLICE>0]]>
	</select>

	<delete id="deleteReport" parameterType="String">
		delete from
		COMPANY_RECRUIT where
		RECRUIT_NO = #{recruitNo}
	</delete>

</mapper>
