<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="careerMember">
	<!-- 차트에서 개인 경력 조회 -->
	<select id="chartMember_select" resultType="hashmap" parameterType="string">
		SELECT JOB_TYPE.JOB_TYPE_NAME, COUNT(MEMBER_CAREERS.CAREERS_TYPE) COUNT FROM MEMBER_CAREERS JOIN JOB_TYPE ON MEMBER_CAREERS.CAREERS_TYPE = JOB_TYPE.JOB_TYPE_NO
		WHERE CAREERS_MEMBER_ID = #{userId}
		GROUP BY JOB_TYPE.JOB_TYPE_NAME, MEMBER_CAREERS.CAREERS_TYPE
	</select>
	
	<!-- 차트에서 개인 경력 입력 -->
	<insert id="chartMember_insert" parameterType="MembersCareer">
		INSERT INTO MEMBER_CAREERS VALUES (MEMBER_CARE.NEXTVAL, #{careersMemberId}, '1', #{careersType}, #{careersTime}, #{careerPart})
	</insert>
</mapper>


<!--
	CAREERS_NO 				NUMBER 			PRIMARY KEY,
	CAREERS_MEMBER_ID 		varchar2(50), 	복합 외래키 지정
	CAREERS_MEMBER_TYPE 	char(1) 		DEFAULT 1, 복합 외래키 지정
	CAREERS_TYPE 			NUMBER 			REFERENCES JOB_TYPE (JOB_TYPE_NO),
	CAREERS_TIME 			NUMBER 			REFERENCES PERIOD(PERIOD_NO),
	CAREERS_PART 			varchar2(100) 	NOT NULL,
	
	CONSTRAINT MEMBER_CAREER_FK FOREIGN KEY(CAREERS_MEMBER_ID, CAREERS_MEMBER_TYPE)REFERENCES MEMBER(MEMBER_ID, MEMBER_TYPE) 복합 외래키 지정
	
	private int careersNo;
	private String careersMemberId;
	private String careersMemberType;
	private int careersType; 업종번호
	private int careersTime; 근무기간번호
	private String careerPart; 담당 업무(짧게)
-->