<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">

	<resultMap type="Member" id="MemberResultMap">
		<id property="memberId" column="MEMBER_ID" /><!-- id는 PK -->
		<id property="memberType" column="MEMBER_TYPE" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberAddress" column="MEMBER_ADDRESS" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberAge" column="MEMBER_AGE" />
		<result property="memberRegdate" column="MEMBER_REGDATE" />
	</resultMap>

	<resultMap type="Company" id="CompanyResultMap">
		<id property="companyId" column="COMPANY_ID" />
		<id property="companyType" column="COMPANY_TYPE" />
		<result property="companyTel" column="COMPANY_TEL" />
		<result property="companyName" column="COMPANY_NAME" />
		<result property="companyBoss" column="COMPANY_BOSS" />
		<result property="companyEmail" column="COMPANY_EMAIL" />
		<result property="companyAddress" column="COMPANY_ADDRESS" />
		<result property="companyNum" column="COMPANY_NUM" />
	</resultMap>

	<select id="listMember" resultMap="MemberResultMap">
		select MEMBER_ID, MEMBER_NAME, MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_BIRTH,
		MEMBER_EMAIL, MEMBER_GENDER, MEMBER_AGE, MEMBER_REGDATE from MEMBER
		WHERE MEMBER_TYPE=1
	</select>

	<select id="listCompany" resultMap="CompanyResultMap">
		select COMPANY_ID, COMPANY_TEL, COMPANY_NAME, COMPANY_BOSS, COMPANY_EMAIL,
		COMPANY_ADDRESS, COMPANY_NUM from COMPANY
	</select>

	<!-- 개인회원가입 -->
	<insert id="insertMember" parameterType="Member">
		insert into MEMBER (MEMBER_ID, MEMBER_TYPE, MEMBER_PW, MEMBER_NAME,
			MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_BIRTH, MEMBER_EMAIL,
			MEMBER_GENDER, MEMBER_AGE, MEMBER_REGDATE)
		values (#{memberId},#{memberType}, #{memberPw}, #{memberName}
			, #{memberPhone}, #{memberAddress}, #{memberBirth}, #{memberEmail},
			#{memberGender}, #{memberAge}, sysdate )<!-- sysdate 생략시 default 들어감 -->
	</insert>
	
	<!-- 아이디 비번 동시 체크 -->
	<select id="selectMember" resultMap="MemberResultMap" parameterType="String">
		SELECT MEMBER_ID , MEMBER_PW FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	<select id="selectCompany" resultMap="CompanyResultMap" parameterType="String">
		SELECT COMPANY_ID , COMPANY_PW FROM COMPANY
		WHERE COMPANY_ID = #{companyId}
	</select>
	
		<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="Integer" parameterType="String">
		SELECT COUNT(*) FROM MEMBER
		WHERE TRIM(MEMBER_ID) = #{memberId}
	</select>
	<!-- 패스워드 체크
	<select id="passChk" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		  AND MEMBER_PW = #{memberPw}
	</select> -->
    
    <!-- 로그인 -->
    <!-- password는 암호화로 인해 주석처리 -->
	<select id="login" resultType="Member">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME
		  FROM MEMBER
		 WHERE MEMBER_ID = #{memberId}
		 <!--  AND MEMBER_PW = #{memberPw} -->
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="memberUpdate">
		UPDATE MEMBER SET 
		<!-- MEMBER_PW = #{memberPw}, -->
		MEMBER_NAME = #{memberName}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
</mapper>
