<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">

	<resultMap type="Member" id="MemberResultMap">
		<id property="memberId" column="MEMBER_ID" /><!-- id는 PK -->
		<id property="memberType" column="MEMBER_TYPE" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberAge" column="MEMBER_AGE" />
		<result property="memberRegdate" column="MEMBER_REGDATE" />
		<result property="mailCheckYn" column="MAILCHEK_YN" />
	</resultMap>

	<resultMap type="Company" id="CompanyResultMap">
		<id property="companyId" column="COMPANY_ID" />
		<id property="companyType" column="COMPANY_TYPE" />
		<result property="companyTel" column="COMPANY_TEL" />
		<result property="companyName" column="COMPANY_NAME" />
		<result property="companyBoss" column="COMPANY_BOSS" />
		<result property="companyEmail" column="COMPANY_EMAIL" />
		<result property="companyAddress" column="COMPANY_ADDRESS" />
		<result property="companyNum" column="COMPANY_NUM" />
		<result property="mailCheckYn" column="MAILCHEK_YN" />
	</resultMap>
	
	<!-- 회원정보 조회 -->
	<select id="listMember" resultMap="MemberResultMap" parameterType="Member">
		select MEMBER_ID, MEMBER_NAME, MEMBER_PHONE, MEMBER_BIRTH,
		MEMBER_EMAIL, MEMBER_GENDER, MEMBER_AGE, MEMBER_REGDATE from MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>

	<select id="listCompany" resultMap="CompanyResultMap" parameterType="Company">
		select COMPANY_ID, COMPANY_TEL, COMPANY_NAME, COMPANY_BOSS, COMPANY_EMAIL,
		COMPANY_ADDRESS, COMPANY_NUM from COMPANY
		WHERE COMPANY_ID = #{companyId}
	</select>

	<!-- 개인회원가입 -->
	<insert id="insertMember" parameterType="Member">
		insert into MEMBER (MEMBER_ID, MEMBER_TYPE, MEMBER_PW, MEMBER_NAME,
			MEMBER_PHONE, MEMBER_BIRTH, MEMBER_EMAIL,
			MEMBER_GENDER, MEMBER_AGE, MEMBER_REGDATE,MAILCHEK_YN)
		values (#{memberId},'1', #{memberPw}, #{memberName}
			, #{memberPhone}, #{memberBirth}, #{memberEmail},
			#{memberGender}, #{memberAge}, sysdate, 'N')<!-- sysdate 생략시 default 들어감 -->
	</insert>
	
	<!-- 아이디 찾기(연락처) -->
	<select id="findMIdphone" resultMap="MemberResultMap" parameterType="Member">
	SELECT MEMBER_ID FROM MEMBER 
	WHERE MEMBER_NAME = #{memberName} AND MEMBER_PHONE = #{memberPhone}
	</select>
	<!-- 아이디 찾기(이메일) -->
	<select id="findMIdmail" resultMap="MemberResultMap" parameterType="Member">
	SELECT MEMBER_ID FROM MEMBER 
	WHERE MEMBER_NAME = #{memberName} AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 비밀번호찾기 -->
	<select id="findMPWdphone" resultType="Integer" parameterType="Member">
	SELECT count(*) FROM MEMBER 
	WHERE MEMBER_NAME = #{memberName} AND MEMBER_ID = #{memberId} AND MEMBER_PHONE = #{memberPhone}
	</select>
	
	<!-- 기업회원가입 -->
	<insert id="insertCompany" parameterType="Company">
		insert into COMPANY (COMPANY_ID,COMPANY_TYPE,COMPANY_PW,COMPANY_TEL,COMPANY_NAME,
			COMPANY_BOSS,COMPANY_EMAIL,COMPANY_ADDRESS,COMPANY_NUM,MAILCHEK_YN)
		values (#{companyId},'2', #{companyPwd}, #{companyTel}
			, #{companyName}, #{companyBoss}, #{companyEmail}, #{companyAddress},
			#{companyNum},'N' )
	</insert>
	
	
	
	<!-- 아이디 찾기(연락처) -->
	<select id="findCIdphone" resultMap="CompanyResultMap" parameterType="Company">
	SELECT COMPANY_ID FROM COMPANY 
	WHERE COMPANY_BOSS = #{companyBoss} AND COMPANY_TEL = #{companyTel}
	</select>
	<!-- 아이디 찾기(이메일) -->
	<select id="findCIdmail" resultMap="CompanyResultMap" parameterType="Company">
	SELECT COMPANY_ID FROM COMPANY 
	WHERE COMPANY_BOSS = #{companyBoss} AND COMPANY_EMAIL = #{companyEmail}
	</select>
	<!-- 아이디 찾기(사업자번호) -->
	<select id="findCIdnum" resultMap="CompanyResultMap" parameterType="Company">
	SELECT COMPANY_ID FROM COMPANY 
	WHERE COMPANY_BOSS = #{companyBoss} AND COMPANY_NUM = #{companyNum}
	</select>
	
	
	
	<!-- 로그인(아이디 비번 동시 체크) -->
    <!-- password는 암호화로 인해 주석처리 -->
	<select id="loginMember" resultMap="MemberResultMap" parameterType="String">
		SELECT MEMBER_ID , MEMBER_PW FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		 <!--  AND MEMBER_PW = #{memberPw} -->
	</select>
	<select id="loginCompany" resultMap="CompanyResultMap" parameterType="String">
		SELECT COMPANY_ID , COMPANY_PW FROM COMPANY
		WHERE COMPANY_ID = #{companyId}
		 <!--  AND MEMBER_PW = #{memberPw} -->
	</select>
	
		<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="Integer" parameterType="String">
		SELECT COUNT(*) FROM MEMBER
		WHERE TRIM(MEMBER_ID) = #{memberId}
	</select>
    
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET 
		MEMBER_PHONE = #{memberPhone},
		MEMBER_EMAIL = #{memberEmail}
		WHERE MEMBER_ID = #{memberId}
	</update>
	<update id="updateCompany" parameterType="Company">
		UPDATE COMPANY SET 
		COMPANY_TEL = #{companyTel},
		COMPANY_EMAIL = #{companyEmail},
		COMPANY_NUM = #{companyNum},
		COMPANY_ADDRESS = #{companyAddress}
		WHERE COMPANY_ID = #{memberId}
	</update>
	
</mapper>
