<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Recruit">

	<resultMap type="Recruit" id="RecruitResultMap">
		<id property="recruitNo" column="RECRUIT_NO" />
		<result property="recruitCompanyId" column="RECRUIT_COMPANY_ID" />
		<result property="recruitCompanyType"
			column="RECRUIT_COMPANY_TYPE" />
		<result property="recruitTitle" column="RECRUIT_TITLE" />
		<result property="recruitCareer" column="RECRUIT_CAREER" />
		<result property="recruitGender" column="RECRUIT_GENDER" />
		<result property="recruitStartAge" column="RECRUIT_START_AGE" />
		<result property="recruitEndAge" column="RECRUIT_END_AGE" />
		<result property="recruitEducation" column="RECRUIT_EDUCATION" />
		<result property="recruitPerson" column="RECRUIT_PERSON" />
		<result property="recruitMoney" column="RECRUIT_MONEY" />
		<result property="recruitPeriod" column="RECRUIT_PERIOD" />
		<result property="recruitDay" column="RECRUIT_DAY" />
		<result property="recruitTime" column="RECRUIT_TIME" />
		<result property="recruitAddress" column="RECRUIT_ADDRESS" />
		<result property="recruitContent" column="RECRUIT_CONTENT" />
		<result property="recruitPub" column="RECRUIT_PUB" />
		<result property="recruitPolice" column="RECRUIT_POLICE" />
		<result property="recruitJobType" column="RECRUIT_JOB_TYPE" />
		<result property="recruitJobDistrict"
			column="RECRUIT_JOB_DISTRICT" />
		<result property="recruitJobWho" column="RECRUIT_JOB_WHO" />
		<result property="recruitJobBranch" column="RECRUIT_JOB_BRANCH" />
		<result property="recruitDate" column="RECRUIT_DATE" />
		<result property="recruitReport" column="RECRUIT_REPORT" />

		<association property="district" resultMap="districtMap">
		</association>
	</resultMap>


	<resultMap id="districtMap" type="District">
		<id property="jobDistrictNo" column="JOB_DISTRICT_NO" />
		<result property="jobDistrictName" column="JOB_DISTRICT_NAME" />
	</resultMap>

	<!-- 신고공고조회 -->
	<select id="listReport" resultMap="RecruitResultMap">
		<![CDATA[select
		RECRUIT_NO,RECRUIT_COMPANY_ID,RECRUIT_COMPANY_TYPE,RECRUIT_TITLE,RECRUIT_CAREER,RECRUIT_GENDER,RECRUIT_AGE,
		RECRUIT_EDUCATION,RECRUIT_PERSON,RECRUIT_MONEY,RECRUIT_PERIOD,RECRUIT_DAY,RECRUIT_TIME,RECRUIT_ADDRESS,RECRUIT_CONTENT,
		RECRUIT_PUB,RECRUIT_POLICE,RECRUIT_JOB_TYPE,RECRUIT_JOB_DISTRICT,RECRUIT_JOB_WHO,RECRUIT_JOB_BRANCH, RECRUIT_DATE
		from COMPANY_RECRUIT WHERE RECRUIT_POLICE > 0]]>
	</select>

	<!-- 공고신고 -->
	<update id="updatePolice" parameterType="integer">
		update COMPANY_RECRUIT
		set RECRUIT_POLICE = RECRUIT_POLICE+1
		where RECRUIT_NO = #{recruitNo}
	</update>

	<!-- 공고검색 -->
	<select id="searchRecruit" resultMap="RecruitResultMap"
		parameterType="searchRecruit">
		select *
		from COMPANY_RECRUIT
		<where>
			<if test='recruitJobDistrict != 100 '>
				and RECRUIT_JOB_DISTRICT = #{recruitJobDistrict}
			</if>
			<if test='recruitJobType != 100 '>
				and RECRUIT_JOB_TYPE = #{recruitJobType}
			</if>
			<if test='recruitJobWho != 100 '>
				and RECRUIT_JOB_WHO = #{recruitJobWho}
			</if>
			<if test='searchKeyword != null '>
				and RECRUIT_TITLE like '%'|| #{searchKeyword} || '%'
			</if>
			<![CDATA[and RECRUIT_POLICE < 3]]>
		</where>
	</select>

	<!-- 관심공고 리스트 -->
	<select id="listLike" resultMap="RecruitResultMap"
		parameterType="String">
		<![CDATA[select * from COMPANY_RECRUIT c JOIN MEMBER_LIKE m USING(RECRUIT_NO) where MEMBER_ID = #{memberId} AND RECRUIT_POLICE < 3]]>
	</select>

	<!-- 좋아요 -->
	<insert id="doLike" parameterType="likeRecruit">
		insert into member_like
		(LIKE_NO,MEMBER_ID,MEMBER_TYPE,RECRUIT_NO)
		values
		(MEMBER_LIKE_SEQUENCE.NEXTVAL,#{memberId},#{memberType},#{recruitNo})
	</insert>

	<!-- 좋아요 취소 -->
	<delete id="disLike" parameterType="likeRecruit">
		delete from member_like
		where
		RECRUIT_NO = #{recruitNo}
		and member_id = #{memberId}
	</delete>

	<!-- 좋아요 체크 -->
	<select id="checkLike" resultType="integer"
		parameterType="likeRecruit">
		select count(*) from member_like where
		member_id = #{memberId} and recruit_no = #{recruitNo}
	</select>

	<!-- 공고 목록 리스트 -->
	<select id="jobinfoList" resultMap="RecruitResultMap">
		<![CDATA[select *
		from COMPANY_RECRUIT where RECRUIT_POLICE < 3 order by recruit_date desc]]>
	</select>
	
	<!-- 공고상세조회 -->
	<select id="detailjobinfo" resultMap="RecruitResultMap"
		parameterType="integer">
		select * from
		company_recruit where
		RECRUIT_NO=#{recruitNo}
	</select>
</mapper>
