<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Resume">
	<resultMap type="Resume" id="ResumeResultMap">
		<id property="resumeNo" column="RESUME_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberType" column="MEMBER_TYPE" />
		<result property="resumeTitle" column="RESUME_TITLE" />
		<result property="resumePublicYn" column="RESUME_PUBLIC_YN" />
		<result property="resumePhone" column="RESUME_PHONE" />
		<result property="jobDistrictNo" column="JOB_DISTRICT_NO" />
		<result property="educationNo" column="EDUCATION_NO" />
		<result property="careersNo" column="CAREERS_NO" />
		<result property="jobCareers" column="JOB_CAREERS" />
		<result property="periodNo" column="PERIOD_NO" />
		<result property="jobTypeNo" column="JOB_TYPE_NO" />
		<result property="resumePhoto" column="RESUME_PHOTO" />
		
		<association property="district" resultMap="districtMap"></association>
		<association property="jobType" resultMap="jobTypeMap"></association>
		<association property="education" resultMap="educationMap"></association>
		<association property="period" resultMap="periodMap"></association>
		
	</resultMap>
	
	<resultMap id="districtMap" type="District">
		<id property="jobDistrictNo" column="JOB_DISTRICT_NO" />
		<result property="jobDistrictName" column="JOB_DISTRICT_NAME" />
	</resultMap>
	<resultMap id="jobTypeMap" type="com.kh.almin.model.jobtype.vo.JobType">
		<id property="jobTypeNo" column="JOB_TYPE_NO"/>
		<result property="jobTypeName" column="JOB_TYPE_NAME"/>
	</resultMap>
	<resultMap type="com.kh.almin.model.education.vo.Education" id="educationMap">
		<id property="educationNo" column="EDUCATION_NO"/>
		<result property="educationType" column="EDUCATION_TYPE"/>
	</resultMap>
	<resultMap type="com.kh.almin.model.period.vo.Period" id="periodMap">
		<id property="periodNo" column="PERIOD_NO"/>
		<result property="periodType" column="PERIOD_TYPE"/>
	</resultMap>
	
	
	<!-- 이력서 전체 조회 -->
	<select id="selectAllResume" resultMap="ResumeResultMap" resultType="Resume">
		select RESUME_NO,RESUME_TITLE from MEMBER_RESUME
	</select> 
	
	<!-- 이력서 상세  조회 -->
	<select id="selectResume" resultMap="ResumeResultMap" parameterType="Resume">
		select a.*,b.JOB_DISTRICT_NAME,c.EDUCATION_TYPE,d.JOB_TYPE_NAME,e.PERIOD_TYPE from member_resume a left outer join job_district b
		on a.JOB_DISTRICT_NO=b.JOB_DISTRICT_NO
		left outer join education c
		on a.EDUCATION_NO=c.EDUCATION_NO
		left outer join JOB_TYPE d
		on a.JOB_TYPE_NO=d.JOB_TYPE_NO
		left outer join PERIOD e
		on a.PERIOD_NO=e.PERIOD_NO
 		where a.RESUME_NO=#{resumeNo}
	</select>
	
	<!-- 이력서 등록 -->
	<insert id="insertResume" parameterType="Resume">
		<!-- <selectKey keyProperty="resumeSeq" resultType="int" order="BEFORE"> 
			select MEMBER_RESUME_SEQUENCE.NEXTVAL from MEMBER_RESUME </selectKey> -->
		insert into 
		MEMBER_RESUME(RESUME_NO,MEMBER_ID,RESUME_TITLE,RESUME_PHONE,JOB_DISTRICT_NO,EDUCATION_NO,
		JOB_TYPE_NO,PERIOD_NO,JOB_CAREERS,RESUME_PUBLIC_YN,RESUME_PHOTO)
		values(MEMBER_RESUME_SEQUENCE.NEXTVAL,#{memberId},#{resumeTitle},#{resumePhone},#{jobDistrictNo},
		#{educationNo},#{jobTypeNo},#{periodNo},#{jobCareers},#{resumePublicYn},#{resumePhoto})
	</insert>
	
	<delete id="deleteResume" parameterType="Resume">
		delete from MEMBER_RESUME where RESUME_NO=#{resumeNo}
	</delete>
	
	<update id="updateResume" parameterType="Resume">
		update MEMBER_RESUME
		set RESUME_TITLE=#{resumeTitle}, RESUME_PHONE=#{resumePhone},JOB_DISTRICT_NO=#{jobDistrictNo},EDUCATION_NO=#{educationNo},
		JOB_TYPE_NO=#{jobTypeNo},PERIOD_NO=#{periodNo},JOB_CAREERS=#{jobCareers},RESUME_PUBLIC_YN=#{resumePublicYn}
		,RESUME_PHOTO=#{resumePhoto} where RESUME_NO=#{resumeNo}
	</update>
</mapper>