/* 지원자 전체를 담는 <section> */
#candidate_container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* 각 지원자의 정보를 담는 <div> */
.candidate_box {
    border: 5px solid royalblue;
    border-radius: 30px;
    display: inline-block;
    width: 400px;
    box-sizing: border-box;
    margin-top: 50px;
}

/* 각 지원자의 정보를 모두 담는 <ul> */
.candidate_list {
    list-style-type: none;
    padding: 30px;
    margin: 0;
}

.candidate_list:hover{
    cursor: default;
}

/* 각 지원자의 이름, 생년월일을 담는 <li> */
.candidate_info {
    display: flex;
    justify-content: space-between;
}

/* 각 지원자의 생년월일 & 성별 담는 <div> */
.candidate_birth {
    text-align: right;
}

/* 각 지원자에 걸려있는 <a> link */
.detailInfo_Link {
    text-decoration: none;
    color: black;
}

/* 모달창 *//* 모달창 *//* 모달창 *//* 모달창 *//* 모달창 *//* 모달창 *//* 모달창 *//* 모달창 *//* 모달창 */
/* 모달찰 배경 */
#modal_back{
    width: 100%; height: 100%;
    top: 0; left: 0;
    position: fixed;
    z-index: 3;
    background-color: rgba(12, 12, 12, .3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 모달찰 content box */
#candidate_box_id{
    width: 800px;
    padding: 50px;
    /* height: 600px; */
    margin: 0 auto;

    position: relative;

    border: 5px solid royalblue;
    background-color: white;
    border-radius: 30px;

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 지원자 상세 정보를 담는 <ul> */
#candidate_info_ul{
    list-style-type: none;
    border: 1px solid black;
    width: 250px;
    /* height: 300px; */
    height: 400px;
    padding: 35px;
    text-align: center;
    box-sizing: border-box;
}

/* 지원자 상세 정보를 담는 <li> 전체 설정 */
#candidate_info_ul li {
    line-height: 40px;
}

/* 지원자 이름을 담는 <div> */
#candidate_name_box {
    margin-bottom: 30px;
}
/* 차트 *//* 차트 *//* 차트 *//* 차트 *//* 차트 *//* 차트 *//* 차트 *//* 차트 *//* 차트 *//* 차트 *//* 차트 */
/* 지원자 차트 담는 <div> */
#careerChartDiv{
    border: 5px solid rgb(129, 151, 216);
    border-radius: 50px;
    width: 400px;
    height: 400px;
    /* display: inline-block; */
    box-sizing: border-box;
}






