<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.almin.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.almin.member.model.vo.Company" alias="Company" />
		<typeAlias type="com.kh.almin.recruit.model.vo.Recruit" alias="Recruit" />
		<typeAlias type="com.kh.almin.comments.model.vo.CommentsCompany" alias="CommentsCompany" />
		<typeAlias type="com.kh.almin.district.model.vo.District" alias="District" />
		<typeAlias type="com.kh.almin.applicant.model.vo.Applicant" alias="Applicant" />
		<typeAlias type="com.kh.almin.applicant.model.vo.SearchApplicant" alias="SearchApplicant" />
		<typeAlias type="com.kh.almin.recruit.model.vo.SearchRecruit" alias="SearchRecruit" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/comments-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/recruit-mapper.xml" />
		<mapper resource="mappers/career-mapper.xml" />
		<mapper resource="mappers/adminmember-mapper.xml" />
		<mapper resource="mappers/adminrecruit-mapper.xml" />
		<mapper resource="mappers/applicant-mapper.xml" />
	</mappers>

</configuration>