@charset "UTF-8";
*{ margin : 0; padding : 0; }

/* 후기 구역 구분 <div> */
#comments_start_line_div {
	width: 1100px; margin: 0 auto; margin-top: 100px; padding: 5px 30px;
	border: 5px solid royalblue;
	background-color: royalblue;
	color: white;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 후기관련 버튼들 */
.commentsBtns {
	margin-top: 10px;
	border: 5px solid white;
	border-radius: 30px;
	background: white;
	padding: 0px 10px;
	width: 290px;
	display: block;
	padding: 10px;
}

.commentsBtns:hover {
	border: 3px solid black;
}

.commentsBtns:focus {
	outline: none;	
}

/* 가장 많은 후기들 리스트 */
.mostCommentsList{
	margin-top: 10px;
	border: 5px solid white;
	background: white;
	padding: 0px 10px;
	width: 290px;
	color: black;
}

/* 가장 많은 후기들 리스트 대체 이미지 */
#most_comments_alterImage{
	width: 200px;
	height: 250px;
	display: block;
	margin: 10px auto;
}

/* 후기 등록창 modal up 버튼 */
/* #insert_modal_showBtn {
	border: 5px solid white;
	border-radius: 30px;
	background: white;
	padding: 0px 10px;
	width: 290px;
	display: block;
} */

/* 가장 많은 후기 키워드 버튼 */
/* #show_most_keyword{
	border: 5px solid white;
	border-radius: 30px;
	background: white;
	padding: 0px 10px;
	width: 290px;
	display: block;	
} */

#insert_modal_showBtn:focus {
	outline: none;
}

/* 후기 조회 전체 container */
#comments_container{
    width: 1300px;
    margin: 0 auto;
}

/* 후기 조회 <ul> */
#comments_box{
    /* width: 1300px;
    margin: 0 auto; */
	/* border: 1px solid black; */
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    /* background-color: #F5F7FA */
}

/* 후기 조회 <li> */
.comments_list {
	/* border-top: 5px solid #cfcfcf; */
	/* border-bottom: 5px solid royalblue; */
	/* border-radius: 20px; */
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 30px;
    /* border-top: 3px solid #707070; */
    border-bottom: 3px solid #707070;
    /* background: #f9f9f9; */
}

/* 작성자, 날짜, 버튼 등이 들어가는 상단 <div> 전체 */
.comments_top_bar {
	border-top: 3px solid #707070;
    /* border-bottom: 5px solid royalblue; */
    border-bottom: 3px solid #707070;
    /* background-color: #cfcfcf; */
    /* background: #f9f9f9; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 5px 30px;
}

/* 작성자, 날짜가 들어가는 상단 죄측 <div> */
.comments_top_bar_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 작성자 <h2> */
.comments_top_bar_left h2 {
    padding: 0 10px;
}

/* 작성일 <h3> */
.comments_top_bar_left h3 {
    padding: 0 10px;
}

/* 수정&삭제 버튼 */
.comments_top_bar_right button{
    border: none;
    background-color: royalblue;
    color: white;
    width: 80px; height: 30px;
    font-weight: bolder;
    margin: 0 10px;
}

/* 수정&삭제 버튼 클릭시 */
.comments_top_bar_right button:active {
    background-color: white;
    border: 2px solid royalblue; 
    color: royalblue;
    outline: none;
}

/* 한줄 후기 *//* 한줄 후기 *//* 한줄 후기 *//* 한줄 후기 *//* 한줄 후기 */
.comments_mid_bar_review {
    /* border: 1px solid royalblue; */
    width: 700px;
    /* box-sizing: border-box; */
    padding: 10px 10px;
    padding-left: 40px;
    /* background: #f9f9f9; */
}

/* 하단 전체 <div> */
.comments_btm_bar {
	/* border-top: 5px solid royalblue; */
	border-top: 3px solid #707070;
    /* border: 1px solid brown; */
    display: flex;
    /* padding: 20px; */
}

/* 하단 <div> 중 카테고리명이 들어가는 좌측 <div> */
.left_comments_box {
    /* border: 1px solid green; */
    width: 20%;
    box-sizing: border-box;
    text-align: center;
    /* padding: 10px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bolder;
    color: black;
    /* background: #f9f9f9; */
}

/* 하단 <div> 중 키워드가 들어가는 우측 <div> */
.right_comments_box{
    /* border: 1px solid violet; */
    /* border-left: 5px solid royalblue; */
    width: 80%;
    box-sizing: border-box;
    /* padding: 10px; */
    padding: 5px;
    display: flex;
	flex-direction: column;
	/* background: #f9f9f9; */
}

/* 키워드를 감싸는 <ul> */
.right_comments_box_ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

/* 각 키워드 <li> */
.right_comments_box_ul li {
    border: 1px solid #757575;
    margin: 3px 3px;
    padding: 5px;
    font-size: .83em;
    font-weight: bolder;
    color: black;
}
/* 후기 insert *//* 후기 insert *//* 후기 insert *//* 후기 insert *//* 후기 insert *//* 후기 insert *//* 후기 insert *//* 후기 insert *//* 후기 insert */
/* 모달창 배경 */
#comments_insert_modal_back{
    height: 100%; width: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(12,12,12,0.3);
    z-index: 1;
    /* 스크롤 만들기 */
    overflow: auto;
    
    /* 임시 주석 */
    display: none;
}

/* 후기 입력창 전체를 감싸는 <div> & 모달창 콘텐츠 */
#comments_insert_box{
	border: 3px solid royalblue;
	border-radius: 30px;
    width: 1100px;
    /* height: 100%; */
    padding: 20px 0;
    margin: 50px auto;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    /* background-color: white; */
    
    
    color : white;
    background-color: rgba(12,12,12,0.8);
}

/* 한줄 후기 <input>, 근로계약서를 담는 <div> 스타일 지정 */
.comments_insert_top{
	/* width: 1300px; */
    /* margin: 0 auto; */
    /* border: 3px solid blue; */
    padding: 20px;
    box-sizing: border-box;
}

/* 한줄 후기 <input>을 감싸는  <fieldset> */
.comments_insert_top fieldset{
	padding: 30px;
	width: 1000px;
	margin: 0 auto;
	border: 3px solid royalblue;
	border-radius: 30px;
	
	color : white;
}

/* 한줄 후기 <input>을 감싸는  <legend> */
#comments_insert_legend {
	border: 3px solid royalblue;
	padding : 10px;
	padding-left: 30px;
	
	color : white;
}

/* 한줄 후기 <input> 스타일 지정 */
#commentsLine{
    width: 100%;
    height: 65px;
    line-height: 65px;
    resize: none;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 1.2rem;
}

/* 근로계약서 radio 버튼을 담는 <div> */
#contract_box {
	border: 5px solid pink;
	padding: 20px;
	box-sizing: border-box;
	
	color : white;
}

/* 근로계약서 작성 여부 제목 */
#contract_box h3 {
	display: inline-block;
	margin-right: 30px;
	border-right: 1px solid yellow;
	padding-right: 30px;
	
	color : white;
}

#radio_box {
	margin-top: 25px;
	display: flex;
	align-items: center;
}

/* 근로계약서 radio 버튼에 대한 label */
#contract_box label {
	color: black;
	margin: 0 10px;
	color : white;
}

.keyName {
	border: 3px solid yellow;
	border-radius: 30px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

/* item을 drop하는 div 스타일 지정 */
.dropzoneClass {
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    /* height: 150px; */
    /* border: 1px solid red; */
    
   	border: 3px solid royalblue;
	border-radius: 30px;
    
    box-sizing: border-box;
    
    margin-top: 30px;

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

/* item을 모아놓은 div 스타일 지정 */
.dragzoneClass {
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    /* height: 150px; */
    /* border: 1px solid black; */
    
  	border: 3px solid skyblue;
	border-radius: 30px;
	
    box-sizing: border-box;

    margin-top: 30px;
    
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

/* 각 item 스타일 지정 */
.dragEle {
    border: 1px solid white;
    padding: 5px;
    margin: 10px 10px;
}

/* item 이름 옆 x 마크 스타일 지정 */
.xMark {
    color: red;
    margin-left: 5px;

    /* dragzone에 있을때는 x 마크 안 보이게 설정 */
    display: none;
}

/* 등록 버튼을 담는 <div> */
#btnBox {
	width: 1000px;
    /* margin: 50px auto; */
    margin: 30px auto;
    /* margin-top: 50px; */
    text-align: center;
}

/* 등록 버튼 */
#submitBtn {
	width: 300px;
	height: 50px;
	background-color: royalblue;
	color: white;
	font-weight: bolder;
	border: nonel
}

/* 등록 버튼 클릭시 */
#submitBtn:active {
    background-color: red;
}

/* 페이지 링크 전체를 담는 <div> */
#comments_box_pageLink {
	text-align: center;
	font-size: 1.5rem;
	color: black;
	margin-bottom: 80px;
}

/* 각 페이지링크 */
.pageLink {
	padding: 0 15px;
	/* padding-bottom: 5px; */
}

/* 각 페이지링크 hover시 */
.pageLink:hover {
	cursor: default;
}

.rectable {
	border: none;
}

.recdiv {
	background-color: ivory;
	width: 50%;
}
#detailjob{
	margin-left:150px;
}

	












