.d-toggle {display: none;} form{display:inline}

/* 캘린더 전체 section */
#calendar_section {
	margin-bottom: 80px;
}

/* 최상단(제목, 일정 추가) */
#calender_top {
    border-bottom: 5px solid royalblue;
    padding-bottom: 15px;
    margin: 0 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 최상단 제목 */
#top_title{
    font-size: 2rem;
    font-style: italic;
    font-weight: bolder;
}

/* 최상단 버튼 */
.insert_btn_class{
    border: none;
    width: 200px;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
    font-weight: bolder;
    margin-left: 20px;
}

/* calendar 전체를 감싸는 <div> */
#calendar-wrap {
    /* margin-left: 200px; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* 왼쪽 사이드 전체 <div> */
#side_calendar {
    width: 25%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   	border: 5px solid #ADC4FB;
	border-radius : 30px;
}

#side_calendar_img_box {
	width: 23%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 30px;
}

#side_calendar_img_box img {
	width: 300px;
}


/* 버튼 전체를 감싸는 <div> */
#btn_box{
    /* border: 1px solid blue; */
    padding: 20px;
}

/* 왼쪽 버튼 4개 */
.calendarBtn {
    /* box-sizing: border-box;
    border: #0d6efd 5px solid;
    background-color: #0d6efd;
    font-weight: bolder;
    color: white; */
    
    border-radius: 50px;
    padding: 10px;
    margin: 10px 0;
}

/* 왼쪽 버튼 4개 클릭했을 때 */
.calendarBtn:active {
    background-color: white;
    color: #0d6efd;
    border: #0d6efd 5px solid;
}

/* 메인 calendar 스타일 */
#calendar {
    width: 70%;
    color: black;
}

#chartBox {
	width: 70%;
}

/* 메인 캘린더의 요일, 날짜 <a> 태그 */
#calendar a {
    color: black;
    text-decoration: none;
}

.fc-event-time, .fc-event-title {
    white-space: nowrap;
}

.fc-title {
    white-space: normal;
}

/* 경력 추가 *//* 경력 추가 *//* 경력 추가 *//* 경력 추가 *//* 경력 추가 *//* 경력 추가 *//* 경력 추가 */
#careerInputTable_box {
	margin-top: 50px;
	margin-bottom: 50px
}

#calendar_section, #calender_top {
/* 	margin-left: 150px;
	margin-right: 150px; */
	max-width: 1140px;
	margin : 0 auto;
	/* margin-bottom: 30px; */
}

/* 경력추가 테이블 전체 */
#calendar_section #careerInputTable {
    /* border: 5px solid royalblue; */
	width: 300px;
    /* height: 250px; */
    border-collapse: collapse;
    box-sizing: border-box;
    /* margin-top: 100px; */
    box-sizing: border-box;
    margin: 0 auto;
}

/* 경력추가 테이블 전체 <td> */
#calendar_section #careerInputTable td {
    text-align: center;
    box-sizing: border-box;
    /* border: 2px solid royalblue; */
}

/* 경력추가 테이블 중 왼쪽 열 */
#calendar_section .careerInputFirstTd {
    /* border-right: 2px solid royalblue; */
    /* border-bottom: 2px solid #757575; */
    text-align: center;
    padding: 20px 10px;
    width: 30%;
    box-sizing: border-box;
}

/* 경력추가 테이블 중 오른쪽 열 */
#calendar_section .careerInputSecondTd {
	/* border-bottom: 2px solid #757575; */
    padding: 10px;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
}

/* 근무 직종 선택 <select> */
#calendar_section #job_type {
    width: 100%;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    /* border: 2px solid royalblue; */
}

/* 근무 기간 선택 <select> */
#calendar_section #job_period{
    width: 100%;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    /* border: 2px solid royalblue; */
}

/* 근무 내용 <input> */
#calendar_section #careerTitle {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid royalblue;
}

/* 근무 내용 <input> */
#calendar_section #careerTitle:focus {
    outline: none;
}

/* 경력 버튼 담는 <td> */
#calendar_section #insertBtnTd {
	/* border-top: 5px solid royalblue; */
	padding: 10px 10px;
}

/* 경력 추가 버튼 */
#calendar_section #career_insert_btn{
/* 	background-color: white;
	border: 5px solid royalblue;
	padding: 5px 10px;
	border-radius: 20px; */
}

/* .ggCalEvent {
	border: 5px solid red;
} */