/* chart 전체를 담는 <div> */
#chartBox{
	border: 5px solid #ADC4FB;
	border-radius : 30px;
	width: 70%;
	padding: 30px;
}

/* chart 제목 */
#chartTitle {
	margin-bottom: 20px;
}

/* 제목 & 버튼 등이 있는 <div> 박스 전체 */
#top_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 년 & 월을 입력하는 <input> */
input[type=number] {
    width: 80px;
    margin-right: 5px;
    padding: 5px;
    padding-left: 10px;
    /* text-align: center; */
    font-size: 1rem;
    border: 5px solid royalblue;
    border-radius: 10px;
}

input[type=number]:hover {
	background: #f9f9f9;;
}

/* 년 & 월을 입력하는 <button> */
#date_input_btn{
/*     background-color: white;
    color: royalblue;
    border: 5px solid royalblue;
    width: 100px;
    height: 35px; */
}

/* 년 & 월을 입력하는 <button> 눌렀을 때 */
#date_input_btn:active {
    background-color: royalblue;
    color: white;
}

/* 날짜 입력칸 & 버튼 전체를 담는 <div> */
#top_box_right_innerBox {
    /* border: 5px solid royalblue; */
    border-bottom: 5px solid royalblue;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 50px;
    /* margin-top: 20px;
    margin-right: 20px; */
}

/* 년 & 월 <input> 옆의 텍스트 */
#top_box_right_innerBox .dateTypeSpan{
    margin-right: 20px;
   	/* border: 1px solid black;
   	border-radius: 20px; */
}

/* 날짜 입력 <div> 박스 전체 */
#top_box_right {
    text-align: right;
}

/* Chart 전체 담는 <div> 박스 */
#allChartBox {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 20px;
}

/* 왼쪽 라인 박스 */
#firstChartBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 50px; */
}

/* 오른쪽 라인 박스 */
#secondChartBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* 구직&면접 차트 */
#needChartDiv{
    /* border: 1px solid #687DE8; */
    width: 400px;
    height: 400px;
    display: inline-block;
}

/* 근무 차트 */
#workChartDiv{
    /* border: 1px solid #687DE8; */
    width: 400px;
    height: 400px;
}

/* 경력 차트 */
#careerChartDiv{
    /* border: 1px solid #687DE8; */
    width: 400px;
    /* height: 300px; */
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 50px;
}

/* 월 급여 <table>을 담는 <div>  */
#secondChartBox #moneyTabel {
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 100%;
    /* width: 500px;
    height: 500px; */
    text-align: center;
    /* box-sizing: border-box; */
    margin-top: 50px;
}

/* 월 급여 <table> */
#moneyTabelReal {
	/* width: 100%; */
	width: 350px;
	margin: 0 auto;
}

#secondChartBox #moneyTabel .firstTd {
    width: 30%;
    text-align: center;
}

#secondChartBox #moneyTabel .secondTd {
    width: 70%;
    text-align: center;
}

#secondChartBox table td {
    border-bottom: 1px solid black;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;\
    /* height: 100px;
    width: 50px; */
}

#secondChartBox table td.firstTd {
    border-right: 1px solid black;
}

#moneyTabelReal tr:first-child td {
    border-bottom: none;
}

.tableColName {
    background-color: royalblue;
    color : white;
    font-weight: bolder;
    text-align: center;
}

/* 이미지 설정 */
#careerChart_alterImage {
	width: 400px;
	height: 400px;
	padding: 50px;
}

#needChart_alterImage {
	width: 400px;
	height: 400px;
	padding: 50px;
}

#workChart_alterImage {
	width: 400px;
	height: 400px;
	padding: 50px;
}

/* .nice-select {
	width: 200px !important;
	margin: 0 auto !important;
	text-align: center !important;
	left: 30pxl !important;
}

.careerInputSecondTd{
	width: 200px !important;
	margin: 0 auto !important;
	text-align: center !important;
} */


