hr{ margin-top: 0;}

/* 미니 캘린더 모달 배경 */
#mimiCalbg {
    width: 100%; height: 100%;
    top: 0; left: 0;
    width: 100%; height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(12,12,12,0.3);
    display: none;
}

/* 미니 캘린더 */
.calendar{
    /* z-index: 4; */
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

/* 날짜(1일 ~ 31일) style */
.dayName {
    color: white;
    background-color: royalblue;
}

/* 요일 막대 style */
.calendar-week-day{
    margin-bottom: 10px;
}

/* 일정 추가 모달창 배경 */
#ModalBg {
    top: 0; left: 0;
    width: 100%; height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(12,12,12,0.3);
    /* 임시 주석 */
    display: none;
}

.modal-dialog{
    margin: 0;
}

/* 일정 추가 모달창 content */
#exampleModal{
    /* margin: 30px; */
    /* overflow: scroll; */
    width: 500px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

/* 색깔선택 창 */
#colorPicker {
    width: 200px;
    border: none;
}

/* 일정 추가 모달창 content 버튼 전체 <div> */
#insertBtnBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* text-align: right; */
}

/* 일정 추가 모달창 content 버튼의 <label>을 담은 <div> */
#insertBtnBox #labelBox{
	display: flex;
}

/* 일정 추가 모달창 content 버튼 전체 <div>안의 <label> */
.modalTypeLabel {
    padding: 10px;
    background-color: white;
    color: royalblue;
    border: 2px solid royalblue;
    border-radius: 15px;
}

/* 일정 추가 모달창 title 전체 <div> */
#insertTitleBox{
    /* margin-top: 20px; */
    text-align: center;
}

/* 일정 추가 모달창 title <input> & 시급 입력창 담는 <div> */
#insertTitleDiv {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 시급 입력창 <label> */
#work_money_label{
	/* margin-right: 10px; */
}

/* 시급 입력창 <input> */
#work_money_label #work_money {
	margin-left: 10px;
	border: 1px solid black;
}

/* 시급 입력창 <input> 클릭했을 때 */
#work_money_label #work_money:focus {
	outline: none;
}

/* 일정 추가 모달창 title 제목 */
#insertTitleBox_input {
    font-size: 1.25rem;
}

/* 일정 입력칸의 <label> */
#insertTitleBox label.col-form-label{
    font-size: 1.25rem;
}

/* 일정 추가 모달창 title <input> */
#recipient-name {
    width: 450px;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
    /* text-align: center; */
}

/* 일정 추가 모달창 title <input> 클릭했을 때 */
#recipient-name:focus {
    outline: none;
}

/* 날짜 입력칸 전체 <div> */
#insertDayBox {
    /* margin-top: 40px; */
}

/* 날짜 입력칸의 <label> */
#insertDayBox label.col-form-label{
    font-size: 1.25rem;
}

/* 시작 & 종료일을 담는 테이블 */
#insertDateTable{
    border: none;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

/* 시작 & 종료일을 담는 테이블 전체 <td> */
#insertDayBox #insertDateTable td{
    /* border-bottom: 2px solid royalblue; */
    height: 40px;
    padding: 15px 0;
}

/* 시작 & 종료일을 담는 테이블의 왼쪽 <td> */
.insertTableTitle{
    width: 100px;
    /* border: 1px solid black; */
    /* border-bottom: 2px solid royalblue; */
}


/* 시작 & 종료일을 담는 테이블의 오른쪽 <td> */
.insertTableDate{
    width: 400px;
    border-bottom: 2px solid royalblue;
}

/* 시간 설정 체크 박스 */
/* #timeCheckbox{
    margin-top: 0px;
    margin-left: 10px;
} */

/* 시간 입력칸 전체 <div> */
#insertTimeBox{
    /* margin-top: 40px; */
}

/* 시간 입력칸의 <label> */
#insertTimeBox label.col-form-label{
    font-size: 1.25rem;
}

/* 미니 시계 */
.mdtp__wrapper {margin: 0 auto;}

/* 시간 입력 전체 table */
.timeTable{
    border: none;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

/* 시간 테이블 전체 <td> */
#insertTimeBox #timeTable td {
    height: 20px;
    padding: 15px 0;
}

/* 시작 & 종료일을 담는 테이블의 왼쪽 <td> */
.insertTimeTitle{
    width: 100px;
    /* border: 1px solid black; */
    text-align: center;   
}

/* 시작 & 종료일을 담는 테이블의 오른쪽 <td>의 <input> */
.insertTime{
    width: 360px;
    height: 40px;
    padding: 15px 0;
    border: none;
    text-align: center;
    border-bottom: 2px solid royalblue;
}

/* 시작 & 종료일을 담는 테이블의 오른쪽 <td>의 <input> 클릭했을 때 */
.insertTime:focus {
    outline: none;
}















